.keyboard > div {
  width: 80px;
  height: 80px;
  border: 2px solid black;
  border-radius: 50%;
  line-height: 84px;
  text-align: center;
  font-size: 30px;
  transition: 0.5s;
}

.keyboard > div:hover {
  background: black;
  color: white;
}
