#background {
    width: 100%;
    height: 100%;
    background: black;
    #main {
        position: fixed;
        top: calc(100% * 43 / 248);
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% * 115 / 192);
        height: calc(100% * 166 / 248);
        transition: 0.5s;
        opacity: 0;
        #bar {
            position: relative;
            background: white;
            text-align: left;
            overflow: hidden;
            width: 100%;
            height: calc(100% * 26 / 166);
            font-size: 80px;
        }
        #btns {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            height: calc(100% * 140 / 166);
            .btn {
                position: relative;
                width: calc(100% * 30 / 115);
                height: calc(100% * 25 / 140);
                background: white;
                color: black;
                border-radius: 0;
                font-size: 60px;
            }
        }
    }
    #controller1 {
        left: calc(100% * 39 / 192);
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        width: 120px;
    }
    #controller2 {
        right: calc(100% * 39 / 192);
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        width: 120px;
    }
    #controller1, #controller2 {
        button {
            min-width: 0;
            position: relative;
            width: 40px;
            height: 40px;
            border: 1px dotted gray;
            color: white;
        }
    }
    #msg {
        color: white;
        font-size: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
