#background {
    width: 768px;
    height: 1024px;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    #main {
        position: fixed;
        top: 77px;
        left: 50%;
        transform: translateX(-50%);
        width: 608px;
        height: 860px;
        opacity: 0;
        #bar {
            position: relative;
            text-align: center;
            overflow: hidden;
            width: 100%;
            height: calc(100% * 26 / 166);
        }
        #btns {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            height: calc(100% * 140 / 166);
            .btn {
                position: relative;
                width: calc(100% * 30 / 115);
                height: calc(100% * 25 / 140);
                color: black;
                border-radius: 0;
                font-size: 60px;
            }
        }
    }
}
